blockquote{
  display:block;
  background: #fff;
  padding: 20px 50px 50px 45px;
  margin: 0;
  position: relative;
  text-align: center;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #2B587A;
  border-right: 2px solid #2B587A;
  
  /*Box Shadow - (Optional)*//*
  -moz-box-shadow: 0px 10px 15px #ccc;
  -webkit-box-shadow: 0px 10px 15px #ccc;
  box-shadow: 0px 10px 15px #ccc;*/
}

blockquote .text {
  color: #666;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.5;
}

blockquote .author {
  font-size: 16px;
  font-style: italic;
  margin-top: 40px;
  text-align: right;
}

blockquote .text::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: relative;
  left: -15px;
  top: -20px;
  float:left;
}

blockquote .text::after{
  content: "\201D"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: relative;
  left: 30px;
  top: -15px;
  float:right;
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

#vkfk-dialog-text {
  text-align: center;
  margin: 30px 0;
}

#vkfk-dialog-ok {
  margin-right: 15px;
  position: relative;
  top: 5px;
}

#vkfk-dialog-buttons {
  margin: 20px 0;
}

#vkfk-quote {
  text-align: center;
  line-height: 0.5;
}



